.nav-top{
    background-color: #2C3E50 !important;
}

.nav-footer{
    background-color: #1ABC9C;
}

.nav-top-1{
    background-color: #2C3E50;
}


.nav-top-2{
    background-color: #1ABC9C;
}


.font-footer{
    text-decoration: none;
}

.nav-color{
    color: #fff!important;
}

.nav-header-1{
    padding-top: 17px!important;
}

.format-text-footer{
    text-align: center;
    margin-bottom: 12px !important;
}

.format-footer{
    margin-top: 1px;
    padding-top: 12px;
    margin-bottom: 0;
}

#icon-menu{
    padding: 0 !important;
}

.a5{
    padding: 0 5px 0 0 !important;
}

.list-product{
    padding-top: 10px;
}


#product{
    padding: 15px 0 0 0;
}

#a1{
   padding-right: 0 !important;
   padding-top: 10px;
   padding-left: 0 !important;
}

#logo-authentic{
    width: 30px;
    height: 25px;
}

#logo-traodoi{
    width: 30px;
    height: 25px;
}


